In [18]:
import pandas as pd
import numpy as np
import glob 
import os

In [19]:
path = os.getcwd()
path

'C:\\Users\\Steph\\OneDrive\\Documents\\Sandra Hospital analysis\\2020-2024 Analysis\\Pharmacy'

In [20]:
files=glob.glob('C:\\Users\\Steph\\OneDrive\\Documents\\Sandra Hospital analysis\\2020-2024 Analysis\\Pharmacy/*.csv')

#Create empty datafram to place values
fullpharm = pd.DataFrame()

#Loop through each file and populate the dataframe
for file in files:
    df=pd.read_csv(file)
    fullpharm = pd.concat([fullpharm, df], ignore_index = True)
    
fullpharm.head(3)

,S/NO,Date,Hospital Number,Full Name,Doctor,Sponsor,Sponsor Category,Diagnosis,Drugs Requested,QTY Billed,Stock Level,Bill of Drugs
0,1,4/30/2023,SH23/0292A,Jirgba Faeren,Dr Tony,Jirgba Terese Family,Family,Malaria Enteric fever,Inj Artesunate 120mg - NOT for NHIS,0 Amp(s),-836,"5,100.00"
1,2,4/30/2023,SH23/0292A,Jirgba Faeren,Dr Tony,Jirgba Terese Family,Family,Malaria Enteric fever,5 mls syringe,0 Piece(s),"-15,786",800
2,3,4/30/2023,SH23/0292A,Jirgba Faeren,Dr Tony,Jirgba Terese Family,Family,Malaria Enteric fever,IV Cipro,0 Infusion(s),"-2,315","1,400.00"

In [21]:
fullpharm.describe()

,S/NO,Date,Hospital Number,Full Name,Doctor,Sponsor,Sponsor Category,Diagnosis,Drugs Requested,QTY Billed,Stock Level,Bill of Drugs
count,141115,141086,141086,141086,141086,140784,141086,138765,141084,141084,141082,141082
unique,7611,1165,7451,10099,24,749,6,10902,480,515,602,340
top,1,11/15/2023,SH21/0000,Bulk Dispenses,Dr Toby,Individual,HMO,Malaria,5 mls syringe,0 Piece(s),"-15,786",200
freq,57,612,1123,1123,45589,38162,48985,2957,8338,9538,5751,15292

In [27]:
fullpharm.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 141384 entries, 0 to 141385
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Date              141084 non-null  object
 1   Hospital Number   141084 non-null  object
 2   Sponsor Category  141084 non-null  object
 3   Drugs Requested   141082 non-null  object
 4   QTY Billed        141082 non-null  object
 5   Bill of Drugs     141080 non-null  object
dtypes: object(6)
memory usage: 7.6+ MB

In [23]:
#Drop unneccesary colulms
fullpharm.drop(fullpharm.columns[[0,3,4,5,7,10]], axis=1, inplace=True)

In [30]:
#drop duplicate headings
fullpharm.drop(fullpharm[fullpharm['Date'] == "Date"].index, inplace = True)

In [31]:
#Checking for duplicated values
fullpharm.duplicated().sum()

8124

In [33]:
df2 = fullpharm[fullpharm.duplicated()]
df2

,Date,Hospital Number,Sponsor Category,Drugs Requested,QTY Billed,Bill of Drugs
115,4/29/2023,SH20/0591I,Company/Organization,TAB Loratadine,5 Tab(s),150
155,4/28/2023,SH21/0000,Company/Organization,Latex Gloves,1 Packet(s),"4,500.00"
156,4/28/2023,SH21/0000,Company/Organization,Latex Gloves,1 Packet(s),"4,500.00"
157,4/28/2023,SH21/0000,Company/Organization,Latex Gloves,1 Packet(s),"4,500.00"
471,4/26/2023,SH19/0960C,Company/Organization,Nebulization + Nebules,1 Procedure(s),"2,000.00"
...,...,...,...,...,...,...
140920,3/14/2024,SH22/0288B,NHIS,Inj Diclofenac,0 Ampule(s),200
140921,3/14/2024,SH22/0288B,NHIS,2 mls syringe,0 Piece(s),200
140948,3/14/2024,ANC24/0026,Individual,Inj T.T,0 Shot,500
140956,3/14/2024,SH24/0340,Individual,Inj PCM,0 Ampule(s),250
140957,3/14/2024,SH24/0340,Individual,Inj Diclofenac,0 Ampule(s),200

To drop duplicates while keeping rows with a specific column value, say "something," you can achieve this by first filtering out the rows with that specific value, then dropping duplicates on the rest of the data, and finally merging the results back together. Here’s how you can do it with Pandas:

Bulk dispense duplicates are valid and must remain.

In [34]:
#Filtering out bulk dispenses
keep_rows = fullpharm[fullpharm['Hospital Number'] == 'SH21/0000']
keep_rows

,Date,Hospital Number,Sponsor Category,Drugs Requested,QTY Billed,Bill of Drugs
153,4/28/2023,SH21/0000,Company/Organization,Latex Gloves,1 Packet(s),"4,500.00"
154,4/28/2023,SH21/0000,Company/Organization,Cotton wool,1 Roll(s),"2,000.00"
155,4/28/2023,SH21/0000,Company/Organization,Latex Gloves,1 Packet(s),"4,500.00"
156,4/28/2023,SH21/0000,Company/Organization,Latex Gloves,1 Packet(s),"4,500.00"
157,4/28/2023,SH21/0000,Company/Organization,Latex Gloves,1 Packet(s),"4,500.00"
...,...,...,...,...,...,...
139558,3/22/2024,SH21/0000,Company/Organization,Latex Gloves,0 Packet(s),"4,500.00"
139559,3/22/2024,SH21/0000,Company/Organization,Latex Gloves,0 Packet(s),"22,500.00"
139560,3/22/2024,SH21/0000,Company/Organization,2 mls syringe,0 Piece(s),"18,000.00"
139561,3/22/2024,SH21/0000,Company/Organization,Cotton wool,0 Roll(s),"2,000.00"
139562,3/22/2024,SH21/0000,Company/Organization,5 mls syringe,0 Piece(s),"4,000.00"

In [37]:
fullpharm.drop_duplicates(inplace = True)

In [40]:
# Concatenate the rows to keep with the deduplicated rows
result = pd.concat([keep_rows, fullpharm]).reset_index(drop=True)
result

,Date,Hospital Number,Sponsor Category,Drugs Requested,QTY Billed,Bill of Drugs
0,4/28/2023,SH21/0000,Company/Organization,Latex Gloves,1 Packet(s),"4,500.00"
1,4/28/2023,SH21/0000,Company/Organization,Cotton wool,1 Roll(s),"2,000.00"
2,4/28/2023,SH21/0000,Company/Organization,Latex Gloves,1 Packet(s),"4,500.00"
3,4/28/2023,SH21/0000,Company/Organization,Latex Gloves,1 Packet(s),"4,500.00"
4,4/28/2023,SH21/0000,Company/Organization,Latex Gloves,1 Packet(s),"4,500.00"
...,...,...,...,...,...,...
134378,3/28/2024,SH23/0885,Individual,Tab Cardiotan (Not for NHIS/HMO),0 Tab(s),"4,500.00"
134379,3/28/2024,SH23/0885,Individual,TAB Lisinopril 10mg,0 Card(s),600
134380,3/29/2024,ANC24/0038,Individual,Inj PCM,0 Ampule(s),750
134381,3/29/2024,ANC24/0038,Individual,Inj Diclofenac,0 Ampule(s),200
134382,3/29/2024,ANC24/0038,Individual,NaN,NaN,NaN

In [43]:
result.duplicated().sum()

1123

In [38]:
fullpharm.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 133260 entries, 0 to 141385
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Date              133259 non-null  object
 1   Hospital Number   133259 non-null  object
 2   Sponsor Category  133259 non-null  object
 3   Drugs Requested   133257 non-null  object
 4   QTY Billed        133257 non-null  object
 5   Bill of Drugs     133255 non-null  object
dtypes: object(6)
memory usage: 7.1+ MB

In [29]:
fullpharm['Bill of Drugs'].isnull()

0         False
1         False
2         False
3         False
4         False
          ...
141381    False
141382    False
141383    False
141384    False
141385     True
Name: Bill of Drugs, Length: 141384, dtype: bool

In [ ]:
#